<div class="col-md-3">
    <!--<p class="lead">New World Telecom</p>-->
    <div class="list-group">
        <a href="#" class="list-group-item active">{{ 'Services'|trans }}</a>
        <a href="{{ path('nwt_software_development') }}" class="list-group-item">{{ 'Software Development'|trans }}</a>
        <a href="{{ path('nwt_shop') }}" class="list-group-item">{{ 'Shop'|trans }}</a>
        <a href="{{ path('nwt_maintenance') }}" class="list-group-item">{{ 'Maintenance'|trans }}</a>
        <a href="{{ path('nwt_website_design') }}" class="list-group-item">{{ 'Website design'|trans }}</a>
        <a href="{{ path('nwt_secretariat') }}" class="list-group-item">{{ 'Secretariat'|trans }}</a>
        <a href="{{ path('nwt_it_networking') }}" class="list-group-item">{{ 'IT Networking'|trans }}</a>
        <a href="{{ path('nwt_remote_monitoring') }}" class="list-group-item">{{ 'Remote monitoring'|trans }}</a>
        <a href="{{ path('nwt_electricity_engineering') }}" class="list-group-item">{{ 'Electricity Engineering'|trans }}</a>
        <a href="{{ path('nwt_serigraphy') }}" class="list-group-item">{{ 'Serigraphy'|trans }}</a>
        <a href="{{ path('nwt_infography') }}" class="list-group-item">{{ 'Infography'|trans }}</a>
        <a href="{{ path('nwt_training') }}" class="list-group-item">{{ 'Training'|trans }}</a>
        {#<a href="{{ path('nwt_it_programs') }}" class="list-group-item">{{ 'IT Programs'|trans }}</a>
        <a href="{{ path('nwt_other_programs') }}" class="list-group-item">{{ 'Other Programs'|trans }}</a>
        <a href="{{ path('nwt_registration') }}" class="list-group-item">{{ 'Registration'|trans }}</a>#}
    </div>
</div>